<footer class="site-footer">
    <div class="container">
        <a id="scroll-up" href="#"><i class="fa fa-angle-up"></i></a>

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p>Copyright &copy; 2015. All right reserved</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <ul class="footer-menu">
                    <li><a href="page_changelog.html">Changelog</a></li>
                    <li><a href="page_credits.html">Credits</a></li>
                    <li><a href="mailto:support@shamsoft.net">Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>