<footer class="site-footer">
    <div class="container">
        <a id="scroll-up" href="#"><i class="fa fa-angle-up"></i></a>

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p>Copyright &copy; 2016 Snappi. All right reserved.</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <ul class="footer-menu">
                    <li><a href="https://github.com/snappi/snappi.github.io/commits/master">Changelog</a></li>
                    <li><a href="https://blog.snappi.io">Blog</a></li>
                    <li><a href="mailto:team@snappi.io">Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>