<header class="site-header sticky {% if page.heading or page.subHeading %}navbar-transparent navbar-primary{% endif %}">

    {% include navbar.html %}

    {% if page.heading or page.subHeading %}
    <div class="banner auto-size text-white">
        <div class="container">
            {% if page.heading %}
            <h1>{{ page.heading }}</h1>
            {% endif %}

            {% if page.subHeading %}
            <h5>{{ page.subHeading }}</h5>
            {% endif %}
        </div>
    </div>
    {% endif %}

</header>