<aside class="col-md-3 col-sm-3 sidebar">

    <ul class="sidenav dropable sticky">
        {% assign docs = site.docs | sort:"order" %}
        {% for doc in docs %}
            {% if doc.parent == null %}
                <li>
                    {% assign subDocs = docs | where: "parent", doc.slug %}

                    {% assign isActive = false %}
                    {% for subDoc in subDocs %}
                        {% if page.url == subDoc.url %}
                            {% assign isActive = true %}
                        {% endif %}
                    {% endfor %}

                    <a href="{{ doc.url }}" class="{% if isActive %}active{% endif %}">{{ doc.title }}</a>

                    {% for subDoc in subDocs %}
                        {% if forloop.first %}<ul>{% endif %}
                            <li>
                                <a href="{{ subDoc.url }}" class="{% if page.url == subDoc.url %}active{% endif %}">{{ subDoc.title }}</a>
                            </li>
                        {% if forloop.last %}</ul>{% endif %}
                    {% endfor %}
                </li>
            {% endif %}
        {% endfor %}

    </ul>

</aside>